<div [style.border]="product.czyPromocja ? '2px solid red' : '1px solid gray'" style="margin-bottom: 10px; padding: 10px;">
    <button (click)="zmianaProdukty()">
      {{ pokazProdukty ? 'Zwiń' : 'Rozwiń' }}
    </button>

    <ng-container *ngIf="pokazProdukty">
        <table>
          <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Data utworzenia</th>
            <th>Dodaj do koszyka</th>
            <th>Liczba sztuk w koszyku</th>
          </tr>
          <tr>
            <td>{{ product.nazwa }}</td>
            <td>{{ product.cena }}</td>
            <td>{{ product.dataUtworzenia }}r.</td>
            <td><button (click)="dodanieDoKoszyka()">Dodaj</button></td>
            <td>{{ product.liczbaSztukWKoszyku }}</td>
          </tr>
        </table>
      </ng-container>
</div>